.mat-card {
    text-align: center;
}

.content-wrapper {
    padding: 1%;
}

.mat-card-title {
    padding: 1%;
}

.mat-form-field {
    width: 80%;
}

.converter-button {
    padding: 1%;
}

.copy-btn-left {
    position: absolute;
    top: 35%;
    left: 2.5%;
}

.copy-btn-right {
    position: absolute;
    top: 35%;
    right: 2.5%;
}