<div class="content-wrapper">
    <mat-card>
        <mat-card-title>Alphabet</mat-card-title>

        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Write something</mat-label>
                <input [(ngModel)]='textoDeInput' type="text" matInput placeholder="Ex. Pizza">
            </mat-form-field>
        </form>
    </mat-card>
</div>

<button  *ngIf='textoDeInput' class="btn btn-outline-secondary" type="button">Aqui toy</button>
<input [(ngModel)]='textoDeInput' type="text" class="form-control">
<p>Valor variable: {{textoDeInput}}</p>

<div id="convert-button">
    <button mat-raised-button type="button" *ngIf="text" color="primary">Convert</button>
</div>

<div class="content-wrapper">
    <mat-card>
        <mat-card-title>Binary</mat-card-title>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Write something</mat-label>
            <input matInput placeholder="Ex. Pizza">
        </mat-form-field>
    </mat-card>
</div>