.mat-card {
    text-align: center;
}

.content-wrapper {
    padding: 1%;
}

.mat-card-title {
    padding: 1%;
}

.mat-form-field {
    width: 80%;
}

#convert-button {
    padding: 1%;
}

.converter-button {
    padding: 1%;
}